

body {
background-color: #00ffff;
width: 100%;
height: 200px;
}

header{
  background-color: #0033ff;
  width: 100%;
  height: 100px;
}

footer{
  background-color: #0033ff;
  width: 100%;
  height: 100px;
}

table, th, td {
  border: 2px solid;
}

#kleura{background-color:#66ff66}
#kleurb{background-color:#669933}
#kleurc{background-color:#009900}
#kleurd{background-color:#336633}
#kleure{background-color:#33cc66}
#kleurf{background-color:#33cc33}
#kleurg{background-color:#ccff99}
#kleurh{background-color:#ffffcc}
